<center>
    <div class="p-3 text-primary-emphasis
                bg-primary-subtle
                border-primary-subtle">
            </div>

            <h1>
                Mis practicas
            </h1>
            <h2>
                Kevin Alejandro Fuentes Talamantes
            </h2>
</center>
