<nav class="navbar navbar-expand-lg
            navbar.dark bg-dark ">

            <div class="container-fluid justify-content-center">
                <div class="navbar-nav">
                    <a href="/" class="nav-link text-white">Inicio</a>
                    <a href="/calculadora" class="nav-link text-white">Tablas de multiplicar</a>
                    <a href="/cotizacion" class="nav-link text-white">Cotización de carro</a>
                    <a href="/recNomina" class="nav-link text-white">Nomina</a>
                    <a href="/inventariopa" class="nav-link text-white">Inventario con EJS y JSON</a>
                    <a href="/listAlum" class="nav-link text-white">Lista de Alumnos</a>
                </div>
            </div>
</nav>